{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
{% load thumbnail %}
{% load cache %}

    {% include "includes/menu.html" with follow=True %}

{% cache 20 sidebar index_page %}
    {% for post in page %}
        {% include "posts/includes/post_item.html" with post=post %}
    {% endfor %}

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endcache%}
{% endblock %}