{% extends "base.html" %}
{% block title %}Последние обновления на странице {{author.username}}{% endblock %}
{% block header %}Последние обновления на странице {{author.username}}{% endblock %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
                <div class="col-md-3 mb-3 mt-1">
            {% include 'posts/includes/user_card.html' with author=author count_posts=count_posts count_following=count_following count_follower=count_follower %}
                </div>
            <div class="col-md-9">
                {% for post in posts %}
                <!-- Начало блока с отдельным постом -->
                    {% include "posts/includes/post_item.html" with post=post %}
                <!-- Конец блока с отдельным постом -->
                {%endfor%}
                <!-- Остальные посты -->

                <!-- Здесь постраничная навигация паджинатора -->
                {% if posts.has_other_pages %}
                    {% include "includes/paginator.html" with items=posts paginator=paginator %}
                {% endif %}
{% endblock %}
     </div>
    </div>
</main>